<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuario</title>
</head>
<body>
    <h2>Usuario</h2>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="nombre" class="col-sm-4 control-label">Nombre</label>
            <div class="col-sm-4">
                <input ng-model="cliente.nombre" id="nombre" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-4">
                <input ng-model="cliente.email" id="email" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="direccion" class="col-sm-4 control-label">Direccion</label>
            <div class="col-sm-4">
                <input ng-model="cliente.direccion" id="direccion" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-default" ng-click="editarUsuario()">Guardar</button>
            </div>
        </div>
    </div>
    <h3>Pedidos anteriores</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Pizzas</th>
                <th>Direccion</th>
                <th>Monto</th>
                <th></th>
            </tr>
        </thead>
        <tbody >
            <tr data-ng-repeat="pedido in historial">
                <td>{{pedido.platos | joinStringList:'pizza'}}</td>
                <td>{{pedido.formaDeEnvio.direccion}}</td>
                <td>{{pedido.monto}}</td>
                <td><a href="#">Repetir</a></td>
            </tr>
        </tbody>
    </table>
    <div>

    </div>


</body>
</html>