<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pedido</title>
</head>
<body>

    <ol class="breadcrumb">
        <li>Tamaño</li>
        <li>Ingredientes</li>
        <li>Confirmar</li>
    </ol>

    <div class="container-fluid">
        <h2>Pedido</h2>
        <h3>Pizzas</h3>
        <div promos data-ng-repeat="plato in pedido.platos" ng-click="deletePlato(plato)" class="animate-repeat"></div>
        <div>
            <a ui-sref="menu" ui-sref-active="active">
                <p><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar otra pizza</p></a></div>

        <h3>Aclaraciones</h3>
        <textarea class="form-control" rows="3" ng-model="pedido.aclaraciones" ></textarea>

        <h3>Envio</h3>
        <form>
            <label><input checked type="radio" name="envio" value="retiraPorLocal" ng-click="pedido.retiraPorLocal()"> Retiro por el local</label>
            <br/>
            <label><input type="radio" name="envio" value="delivery" ng-click="pedido.conEnvio(direccion)"> Envio</label>
            <span class="badge dinero">15</span>
            <input type="text" class="form-control" ng-model="pedido.formaDeEnvio.direccion" placeholder="Direccion">
        </form>

        <div class="row">
            <div class="col-md-3">
                <h2>Total a pagar:</h2>
            </div>
            <div class="col-md-1 centrar-div">
                <span class="badge dinero large">{{pedido.total()}}</span>
            </div>
            <div class="col-md-2 centrar-div">
                <button type="button" class="btn btn-info pull-right" ng-click="confirmarPedido()">Confirmar pedido</button>
            </div>
        </div>
    </div>

</body>
</html>