<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extras</title>
</head>
<body>
    <h2>{{promoSeleccionada.nombre}}<small> {{tamanioSeleccionado.nombre}}</small></h2>
    <span class="badge">{{ingrediente.precio}}</span>

    <div class="row">
        <div class="col-md-8">
            <ingredientes data-ng-repeat="ingrediente in promoSeleccionada.ingredientes" class="animate-repeat">

            </ingredientes>
            <ingredientes data-ng-repeat="ingrediente in extrasSeleccionados" class="animate-repeat">

            </ingredientes>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">Extras</div>
                <div class="panel-body">
                    <div extras data-ng-repeat="extra in extras" class="animate-repeat">
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-info pull-right" ng-click="continuar()">Continuar</button>
        </div>
    </div>
</body>
</html>