<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extras</title>
</head>
<body>
<ol class="breadcrumb">
    <li>Tamaño</li>
    <li>Ingredientes</li>
</ol>

    <h2>{{plato.pizza.nombre}}<small> {{plato.tamanio.nombre}}</small>
        <span class="badge dinero">{{plato.precio()}}</span></h2>

    <div class="row">
        <div class="col-md-8">
            <ingredientes data-ng-repeat="ingrediente in plato.pizza.ingredientes" class="animate-repeat">

            </ingredientes>
            <ingredientes data-ng-repeat="ingrediente in plato.extras" class="animate-repeat">

            </ingredientes>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">Extras</div>
                <div class="panel-body">
                    <div extras data-ng-repeat="extra in extras" class="animate-repeat">
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-info pull-right" ng-click="continuar()">Continuar</button>
        </div>
    </div>
</body>
</html>